<h1 style="text-align: center;">Practica final</h1>

<h3 style="text-align: center;">Angular 1</h3>


<div style="text-align: center; margin-top: 150px">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="personajes" value="bold">Personajes</mat-button-toggle>
    <mat-button-toggle routerLink="episodios" value="italic">Episodios</mat-button-toggle>
    <mat-button-toggle routerLink="locaciones" value="underline">locaciones</mat-button-toggle>
  </mat-button-toggle-group>

</div>

  